.project{
  &__context{
    padding: 0 64px 0 64px;
    width: 596px;
    align-items: center;

  }
  
  &__details{
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

}
