:root{
    --size-title: 60px;
    --size-title-small: 42px;
    --size-text-big: 30px;
    --size-text: 21px;
    --size-small: 15px;
}

.title{
    font-size: var(--size-title);
    font-weight: 800;

    &--small{
        font-size: var(--size-title-small);
    }
}

.text{
    font-size: var(--size-text);

    &--big{
        font-size: var(--size-text-big);
    }

    &--bold{
        font-weight: 600;
    }
}