:root{
    --size-title: 48px;
    --size-title-small: 34px;
    --size-text-big: 24px;
    --size-text: 17px;
    --size-small: 12px;
}

.title{
    font-size: var(--size-title);
    font-weight: 800;
    color: var(--color-black);

    &--small{
        font-size: var(--size-title-small);
    }
}

.text{
    font-size: var(--size-text);

    &--big{
        font-size: var(--size-text-big);
    }

    &--bold{
        font-weight: 600;
    }

    &--small{
        font-size: var(--size-small);
        color: var(--color-opacity-high);
    }
}