:root{
    --size-title-big: 60px;
    --size-title: 42px;
    --size-text-big: 30px;
    --size-text: 21px;
    --size-small: 15px;
}

.title{
    font-size: var(--size-title);
    font-weight: 800;
}

.text{
    font-size: var(--size-text);

    &--big{
        font-size: var(--size-text-big);
    }
}