:root{
    --color-white: #FFFFFF;
    --color-solitude: #F0F1F3;
    --color-platinum: #E5E6EB;
    --color-jet: #1F2023;
    --color-night: #161618;
    --color-black: #090909;
    --color-opacity-low :hsla(0, 0%, 4%, 0.25);
    --color-opacity-high :hsla(0, 0%, 4%, 0.6);
}