@charset "UTF-8";
:root {
  --color-white: #FFFFFF;
  --color-solitude: #F0F1F3;
  --color-platinum: #E5E6EB;
  --color-jet: #1F2023;
  --color-night: #161618;
  --color-black: #090909;
  --color-opacity-low:hsla(0, 0%, 4%, 0.25);
  --color-opacity-high:hsla(0, 0%, 4%, 0.6);
}

:root {
  --size-title: 48px;
  --size-title-small: 34px;
  --size-text-big: 24px;
  --size-text: 17px;
  --size-small: 12px;
}

.title {
  font-size: var(--size-title);
  font-weight: 800;
  color: var(--color-black);
}
.title--small {
  font-size: var(--size-title-small);
}

.text {
  font-size: var(--size-text);
}
.text--big {
  font-size: var(--size-text-big);
}
.text--bold {
  font-weight: 600;
}
.text--small {
  font-size: var(--size-small);
  color: var(--color-opacity-high);
}

html, body {
  font-family: "neue-kabel", sans-serif;
  font-size: var(--font-size-text);
  background-color: var(--color-white);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.414;
  color: var(--color-jet);
}

.swiper-slide {
  background-color: var(--color-platinum);
}
.swiper-slide:nth-child(even) {
  background-color: var(--color-solitude);
}
.swiper-pagination {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 32px;
  left: 0 !important;
  right: auto !important;
  padding: 128px 32px;
}
.swiper-pagination-bullet {
  height: 100%;
  max-height: 150px;
  width: 2px;
  border-radius: 2px;
  opacity: 1;
  background-color: var(--color-opacity-low);
  transition: background-color 0.5s ease-out;
}
.swiper-pagination-bullet-active {
  width: 4px;
  opacity: 1;
  background-color: var(--color-black);
}

.project {
  display: grid;
  grid-template-columns: 2fr 5fr;
  height: 100vh;
}
.project__context {
  padding: 32px 48px;
  display: flex;
  flex-flow: column nowrap;
  gap: 80px;
}
.project__details {
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-transform: uppercase;
}
.project__desc .title {
  padding-bottom: 16px;
}
.project__proglist {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.project__progel {
  text-transform: uppercase;
}
.project details {
  position: relative;
}
.project details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-opacity-high);
}
.project summary {
  margin-bottom: 8px;
  text-transform: uppercase;
}
.project details > summary {
  display: list-item;
  list-style: none;
}
.project details[open] > summary:before {
  content: "–";
}
.project details:not([open]) > summary:before {
  content: "+";
}
.project details > summary:before {
  display: inline-block;
  font-size: 32px;
  margin-right: 32px;
  font-weight: 100;
}
.project__roll {
  padding-left: 10%;
}
.project__socialmed {
  display: block;
  margin-top: -16px;
}
.project__task {
  padding-top: 16px;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.project__role {
  list-style: none;
}
.project__retour {
  width: 24px;
}
.project__slider {
  height: 100%;
}
.project__content {
  width: 100%;
  height: 100vh;
}
.project__step {
  height: 100%;
  padding: 96px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.project__pres {
  position: relative;
}
.project__pic {
  width: 100%;
}
.project__el {
  position: absolute;
  transform: translateY(62px);
  text-transform: uppercase;
  align-self: flex-start;
  bottom: 0;
  left: 0;
}

.grid__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  border: 2px solid red;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(18, 1fr);
  justify-items: center;
  align-items: center;
  gap: 5px 10px;
}

.grid__item {
  height: 100%;
  width: 100%;
  background-color: silver;
}

.grid__item--0 {
  grid-area: 9/4/11/5;
}

.grid__item--1 {
  grid-area: 11/4/13/5;
}

.grid__item--2 {
  grid-area: 7/4/9/5;
}

.grid__item--3 {
  grid-area: 10/3/12/4;
}

.grid__item--4 {
  grid-area: 8/5/10/6;
}

.grid__item--5 {
  grid-area: 8/3/10/4;
}

.grid__item--6 {
  grid-area: 10/5/12/6;
}

.grid__item--7 {
  grid-area: 9/2/11/3;
}

.grid__item--8 {
  grid-area: 9/6/11/7;
}

.grid__item--9 {
  grid-area: 7/2/9/3;
}

.grid__item--10 {
  grid-area: 11/6/13/7;
}

.grid__item--11 {
  grid-area: 11/2/13/3;
}

.grid__item--12 {
  grid-area: 7/6/9/7;
}

.grid__item--13 {
  grid-area: 12/3/14/4;
}

.grid__item--14 {
  grid-area: 6/5/8/6;
}

.grid__item--15 {
  grid-area: 6/3/8/4;
}

.grid__item--16 {
  grid-area: 12/5/14/6;
}

.grid__item--17 {
  grid-area: 5/4/7/5;
}

.grid__item--18 {
  grid-area: 13/4/15/5;
}

.grid__item--19 {
  grid-area: 10/1/12/2;
}

.grid__item--20 {
  grid-area: 8/7/10/8;
}

.grid__item--21 {
  grid-area: 8/1/10/2;
}

.grid__item--22 {
  grid-area: 10/7/12/8;
}

.grid__item--23 {
  grid-area: 4/3/6/4;
}

.grid__item--24 {
  grid-area: 14/5/16/6;
}

.grid__item--25 {
  grid-area: 14/3/16/4;
}

.grid__item--26 {
  grid-area: 4/5/6/6;
}

.grid__item--27 {
  grid-area: 15/4/17/5;
}

.grid__item--28 {
  grid-area: 3/4/5/5;
}

.grid__item--29 {
  grid-area: 13/2/15/3;
}

.grid__item--30 {
  grid-area: 5/6/7/7;
}

.grid__item--31 {
  grid-area: 5/2/7/3;
}

.grid__item--32 {
  grid-area: 13/6/15/7;
}

.grid__item--33 {
  grid-area: 12/1/14/2;
}

.grid__item--34 {
  grid-area: 6/7/8/8;
}

.grid__item--35 {
  grid-area: 6/1/8/2;
}

.grid__item--36 {
  grid-area: 12/7/14/8;
}

.grid__item--37 {
  grid-area: 2/3/4/4;
}

.grid__item--38 {
  grid-area: 16/5/18/6;
}

.grid__item--39 {
  grid-area: 2/5/4/6;
}

.grid__item--40 {
  grid-area: 16/3/18/4;
}

.grid__item--41 {
  grid-area: 1/4/3/5;
}

.grid__item--42 {
  grid-area: 17/4/19/5;
}

.grid__item--43 {
  grid-area: 3/2/5/3;
}

.grid__item--44 {
  grid-area: 15/6/17/7;
}

.grid__item--45 {
  grid-area: 15/2/17/3;
}

.grid__item--46 {
  grid-area: 3/6/5/7;
}/*# sourceMappingURL=app.css.map */